<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>404 - SIPD</title>
		<meta name="description" content="SIPD adalah jaringan yang mengumpulkan data secara terpadu di daerah dan pusat sebagai dukungan dalam perencanaan dan evaluasi pembangunan daerah dengan menggunakan teknologi informasi." />
	<meta name="keywords" content="bangda, sipd, kemendagri, pembangunan, daerah, pdrb, keuangan,Data Umum, Geografi,
              Pemerintahan,Administrasi Pemerintahan, Aparatur Negara, Administrasi Kepegawaian, Sosial Budaya, Demografi, Kesehatan, Pendidikan,
              Kebudayaan Nasional, Pemuda dan Olahraga, Kesejahteraan Sosial, Agama, Sumber Daya Alam, Pertanian, Kehutanan, Kelautan, Perikanan, Peternakan, Perkebunan, Pertambangan dan Energi, Lingkungan Hidup, Tata Ruang, Pertanahan, Infrastruktur, Perumahan, Permukiman, Pekerjaan Umum, Pariwisata, POS, Telekomunikasi dan Informatika, Perhubungan, Transportasi, Industri, Perdagangan, Lembaga Keuangan, Koperasi, Usaha, Investasi, Industri, Perdagangan, Pengembangan Usaha Nasional, Lembaga Keuangan, Koperasi, Pengelolaan ASET, Barang Daerah, BUMD, Perbankan Daerah, Lembaga Keuangan Daerah, Ekonomi, Keuangan, Produk Domestik Regional Bruto, PDRB, Ringkasan APBD, APBD, Dana Perimbangan, Pinjaman Daerah, Pajak Daerah, Restribusi Daerah, Politik, Hukum, Keamanan, Politik Dalam Negeri, Pengawasan, Hukum, Keamanan, Ketertiban Masyarakat, Insidensial, Bencana Alam, Penyakit Menular, Pencurian Ikan, Kebakaran Hutan, Pencurian, Penyelundupan Kayu :target, pseudo-class" />
	<meta name="author" content="bararamadhan"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="static/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>
		
		
		
		<!-- Custom CSS -->
		<link href="static/dist/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper error-page pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="index.html">
						<img class="brand-img mr-10" src="static/dist/img/logo.png" alt="brand"/>
						<span class="brand-text">SIPD</span>
					</a>
				</div>
				<div class="form-group mb-0 pull-right">
					<a class="inline-block btn btn-success btn-rounded btn-outline nonecase-font" href="/index">Back to Home</a>
				</div>
				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 error-bg-img">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<span class="block error-head text-center txt-success mb-10">404</span>
											<span class="text-center nonecase-font mb-20 block error-comment">Page Not Found</span>
											<p class="text-center">The URL may be misplaced or the pahe you are looking is no longer available.</p>
										</div>	
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="static/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="static/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="static/dist/js/jquery.slimscroll.js"></script>
		
		<!-- Init JavaScript -->
		<script src="static/dist/js/init.js"></script>
	</body>
</html>
